<h3 class="text-center" *ngIf="projects.length === 0" >No Rows to display</h3>

<div class="container" *ngIf="projects.length>0">
  <table class="table table-bordered table-hover">
      <thead class="thead-dark">
      <tr>
      <td>Project ID</td>
      <td>Project Name</td>
      <td>Freelancer Email</td>
      <td>Project Cost</td>
      <td>Project Duration</td>
      </tr>
      </thead>

      <tbody>
      <tr  *ngFor = "let project of projects">
      <td> {{project.projectId}} </td>
      <td> {{project.projectName}} </td>
      <td> {{project.freelancerEmail}} </td>
      <td> {{project.projectCost}}</td>
        <td>{{project.projectDuration}}</td>
      </tr>
      </tbody>
      </table>
  </div>
