<!-- <a routerLink="/adminlogin" routerLinkActive="active">Admin Login</a>
<a routerLink="/userlogin" routerLinkActive="active">User Login</a> -->

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Freelancer</title>
    <link rel="stylesheet">
</head>

<body>

    <div class="image">
        <div style="float: left;" id="">
            <h1 style="color: aqua; font-family: sans-serif; font-weight: bolder; margin-top: 40%; margin-left: 10%;">Hire expert freelancers for any job, online</h1>
            <h3 style="color: aqua; font-family: sans-serif; font-weight:normal; margin-top: 5%; margin-left: 10%;">Millions of small businesses use Freelancer to turn their ideas into reality.</h3>
        </div>
        <div class="login-box" style="float: right;">
            <h1>Login</h1>
            <div class="textbox">
                <i class="fas fa-user"></i>
                <a routerLink="/adminlogin" routerLinkActive="active" style="color: white;">FIND TALENT</a>

            </div>

            <div class="textbox" style="float: right;">
                <i class="fas fa-lock"></i>
                <a routerLink="/userlogin" routerLinkActive="active" style="color: white;">FIND A JOB</a>
            </div>

            <!-- <input type="button" class="btn" value="Sign in"> -->
        </div>
    </div>

</body>

</html>
