
<!-- <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/firstpage">FREELANCER-DXC</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a routerLink="adminhome/browseprojects" routerLinkActive="active">Browse All Projects</a></li>
          <li><a routerLink="adminhome/awardedprojects" routerLinkActive="active">Awarded Projects</a></li>
          <li><a routerLink="adminhome/postnewproject" routerLinkActive="active">Post new Project</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="/adminlogin" routerLinkActive="active">Sign Off</a></li>
        </ul>
      </div>
    </div>
  </nav> -->

  <div class="topnav">
      <a routerLink="/adminhome" routerLinkActive="active">FREELANCER-DXC</a>
    <a routerLink="adminhome/browseprojects" routerLinkActive="active">All Projects</a>
    <a routerLink="adminhome/adminawardedprojects" routerLinkActive="active">Awarded Projects</a>
    <a routerLink="adminhome/postnewproject" routerLinkActive="active">Post new Project</a>
    <a routerLink="adminhome/allfreelancers" routerLinkActive="active">Registered Freelancers</a>
    <div class="search-container">
      <form>
        <input type="text" placeholder="Type any keyword" name="search" [(ngModel)]="search">
        <!-- <button type="submit" routerLink="adminhome/browseprojects" routerLinkActive="active">Submit</button> -->
        <button type="submit" [routerLink]="['adminhome/searchprojectadmin',search]">Search</button>
      </form>
    </div>
    <a routerLink="/adminlogin" routerLinkActive="active">Sign Off</a>
  </div>
  <div>
    <h1 class="text-center">Welcome to Freelancer-DXC!!!</h1>
  </div>

<router-outlet></router-outlet>

